# Python Strings
**Shubham Verma**

**Linkedin** https://lnkd.in/gPxctEja

**GitHub** https://lnkd.in/gky-wyFJ

**Note:** Please follow me on Linkedin and GitHub for Questions on Python Strings.

# 1.0 Introduction

1. Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1.
2. Strings in python are surrounded by either single quotation marks, or double quotation marks.
3. Multiline string can be attached to a variable by using three quotes.

### 1.1 Assigning a variable to string.

In [6]:
s1 = 'iNeuron'

print(s1, type(s1))

iNeuron <class 'str'>

### 1.2 Multi-Line String

In [7]:
s2 = '''
     I live in maharashtra,
     I am a Mechanical Engineer, 
     I want to become a data scientist.
     '''
print(s2, type(s2))

     I live in maharashtra,
     I am a Mechanical Engineer,
     I want to become a data scientist.
      <class 'str'>

### 1.3 Looping through a string

In [11]:
for character in s1:
    print(character, end="  ")

i  N  e  u  r  o  n

### 1.4 String Length

In [12]:
len(s2)

108

### 1.5 in and not keyword
1. To check if a certain phrase or character is present in a string, we can use the keyword `in`.
2. To check if a certain phrase or character is NOT present in a string, we can use the keyword `not in`.

In [13]:
print('Mechanical' in s2 )

True

In [19]:
print('Civil' not in s2)

True

### 1.6 if and if not

In [16]:
s2 = '''I live in maharashtra,
I am a Mechanical Engineer, 
I want to become a data scientist.'''

In [22]:
def word_checker(in_str, word):
    if word in in_str:
        return "Yes, {} is present in given string.".format(word)
    elif word not in in_str:
        return "No, {} is not present in given string.".format(word)

word_checker(s2, 'Mechanical')

'Yes, Mechanical is present in given string.'

In [23]:
word_checker(s2, 'Electrical')

'No, Electrical is not present in given string.'

# 2.0 String Slicing
1. You can return a range of characters by using the slice syntax.
2. Specify the start index and the end index, separated by a colon, to return a part of the string.
3. The first character has index 0.

In [24]:
s3 = "My name is Sameer"
s3[1:6]

'y nam'

### 2.1 Slicing from start
1. if we leave start index blank, the range will start at the first character.

In [26]:
s3[:15]

'My name is Same'

### 2.2 Slicing to end
1. If we leave last index blank the range will go to the end.

In [27]:
s3 = "My name is Sameer"
s3[1:]

'y name is Sameer'

### 2.3 Jump
1. After start and end index we can also specify jump, by default jump value is one.

In [29]:
s3[0:17:2]

'M aei aer'

### 2.4 Negative indexing
1. similar to list strings can also be negatively indexed.

In [31]:
s4= '1234567890'
s4[:-1]

'123456789'

In [32]:
s4[-1:]

'0'

In [33]:
### Note to get whole string using negative index use below mentioned code.
s4[:-1]+s4[-1:]

'1234567890'

# 3.0 Modifying Strings
1. Python has a set of built-in methods that we can use on strings.

### 3.1 Upper case and lower case
1. The upper() method returns the string in upper case.
2. The lower() method returns the string in lower case.

In [34]:
s = 'ineuron'
s.upper()

'INEURON'

In [35]:
s= 'INEURON'
s.lower()

'ineuron'

### 3.2 Remove Whitespace
1. The strip() method removes any whitespace from the beginning or the end.
2. The replace() method can remove space from whole string.

In [36]:
s= "  my name is sameer  "

In [37]:
s.strip()

'my name is sameer'

In [41]:
s1 = '  My name is Kamlesh  '
s1.replace(" ","")

'MynameisKamlesh'

### 3.3 Replace String
1. The replace() method replaces a string with another string

In [43]:
s = "My Name is Sameer"
s.replace('a','r')

'My Nrme is Srmeer'

### 3.4 Split String
1. The split() method splits the string into substrings if it finds instances of the specified separator.

In [46]:
s = "My,Name,Is,Shubham"
p = s.split(",")
p

['My', 'Name', 'Is', 'Shubham']

**Note: join method can be used to get the string without seperator after splitting as shown below.**

In [47]:
" ".join(p)

'My Name Is Shubham'

# 4.0 Concatenate Strings
1. We can use + operator to concatenate two strings.

In [49]:
first_name="Sameer"
last_name="Panchkule"
Name=first_name+last_name
Name

'SameerPanchkule'

In [50]:
Name = first_name +" "+last_name
Name

'Sameer Panchkule'

# 5.0 String Format and f-string

### 5.1 String Format
1. The format() method takes unlimited number of arguments, and are placed into the respective placeholders.
2. we can use index numbers {0} to be sure the arguments are placed in the correct placeholders

In [52]:
for i in ["shubham","simran", "manpreet"]:
    print("{}@gmail.com".format(i))

shubham@gmail.com
simran@gmail.com
manpreet@gmail.com

In [55]:
print("My name is {0} {2} {1}.".format("Samar", "Fule", "Amar"))

My name is Samar Amar Fule.

### 5.2 f-string
1. To create an f-string, prefix the string with the letter “ f ”. The string itself can be formatted in much the same way that you would with str.format().

In [56]:
first_name="sameer"
last_name="vidyut"
age=33
print(f"My name is {first_name} {last_name} and I am {age} years old. ")

My name is sameer vidyut and I am 33 years old.

# 6.0 Escape characters 
1. To insert characters that are illegal in a string, use an escape character.
2. An escape character is a backslash \ followed by the character you want to insert.

1. \\' or \\" Single or double quote.
2. \\\ Backslash
3. \n new line
4. \t Tab
5. \b Backspace

In [63]:
s='It\'s my right'
print(s)

It's my right

In [62]:
date='01\\09\\1005'
print(date)

01\09\1005

In [65]:
multiline= "My name is sameer.\nMy age is 34.\nI live in kathmandu."
print(multiline)

My name is sameer.
My age is 34.
I live in kathmandu.

In [67]:
tab = "Hello\tWorld\t!"
print(tab)

Hello	World	!

In [68]:
backspace = "Hello \bWorld \b!"
print(backspace)

Hello World !

# 7.0 String methods

### 7.1 capitalize() 
1. Converts the first character to upper case.

In [69]:
s = "my name is sameer"
s.capitalize()

'My name is sameer'

### 7.2 casefold()
1. The casefold() method returns a string where all the characters are lower case.

2. This method is similar to the lower() method, but the casefold() method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.

In [70]:
s= "MY Name IS SAMEER"
s.casefold()

'my name is sameer'

### 7.3 center()
1. The center() method will center align the string, using a specified character (space is default) as the fill character.
2. Syntax: `string.center(length, character)`

In [72]:
s = "iNeuron"
s.center(20)

'      iNeuron       '

### 7.4 count()
1. Return the number of times the specified value appears in the string.
2. Syntax: `string.count(value, start, end)`
3. start: Optional. An Integer. The position to start the search. Default is 0.
4. end: Optional. An Integer. The position to end the search. Default is the end of the string

In [1]:
s='aabbcccdh'
s.count('c')

3

### 7.5 encode()
1. The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.
2. syntax: `string.encode(encoding=encoding, errors=errors)`

In [8]:
s= 'My name is såmeer'
enc = s.encode(encoding='ascii', errors='xmlcharrefreplace')
print(enc)

b'My name is s&#229;meer'

### 7.6 endswith() and startswith()
1. Returns true if the string ends with the specified value.
2. Returns true if the string starts with the specified value.

In [9]:
s='Are you going to school?'
s.endswith('?')

True

In [10]:
s.startswith('A')

True

### 7.7 expandtabs()
1. The expandtabs() method sets the tab size to the specified number of whitespaces.
2. syntax: `string.expandtabs(tabsize)`

In [13]:
s="My\tname\tis\tR2D2"
s.expandtabs(2)

'My  name  is  R2D2'

### 7.8 index()
1. Searches the string for a specified value and returns the position of where it was found

In [14]:
s='SameerShrivastav'
s.index('h')

7

### 7.9 isalnum()
1. Returns True if all characters in the string are alphanumeric

In [15]:
s="sam01"
s.isalnum()

True

### 7.10 isalpha()
1. Returns True if all characters in the string are in the alphabet

In [16]:
s='sam01'
s.isalpha()

False

### 7.11 isdigit() 
1. Returns True if all characters in the string are digits

In [17]:
s='12345'
s.isdigit()

True

### 7.12 strip(), rstrip() and lstrip()
1. Returns a trimmed version of the string
2. Returns a right trim version of the string
3. Returns a left trim version of the string

In [18]:
s='  sameera  '
s.strip()

'sameera'

In [19]:
s='  sameera  '
s.rstrip()

'  sameera'

In [20]:
s='  sameera  '
s.lstrip()

'sameera  '

### 7.13 swapcase()
1. Swaps cases, lower case becomes upper case and vice versa

In [21]:
s='ShaktiMaan'
s.swapcase()

'sHAKTImAAN'

### 7.14 title()
1. Converts the first character of each word to upper case

In [22]:
s= 'my village is located in UP'
s.title()

'My Village Is Located In Up'

### 7.15 split()
1. Splits the string at the specified separator, and returns a list

In [23]:
s="I live in India"
s.split(" ")

['I', 'live', 'in', 'India']